body {
    background: #eef2ff;
    font-family: Arial;
    text-align: center;
}

.card {
    width: 90%;
    max-width: 430px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px #0001;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 95%;
    padding: 12px;
    background: #1877f2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.media {
    margin-top: 15px;
    background: #f7f8ff;
    padding: 10px;
    border-radius: 10px;
}

.media img, .media video {
    width: 100%;
    border-radius: 10px;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.7;
}

.footer a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}
